<div class="row">
    <div class="col-lg-6 col-md-6  col-sm-12 box-box">

        <mat-card class="example-card">
            <mat-card-title routerLink="/" class="pointer">
                <mat-icon>arrow_back</mat-icon>Back
            </mat-card-title>
            <mat-card-content>
                <angular-cropper #angularCropper [cropperOptions]="cropperConfig" [imageUrl]="imageUrl"
                    (zoom)="zoomManual()" (ready)="readyImage($event)" (cropend)="cropendImage($event)">
                </angular-cropper>
            </mat-card-content>

            <div *ngIf="!showCropper && imageUrl" class="container-preloader">
                <div class="dash uno"></div>
                <div class="dash dos"></div>
                <div class="dash tres"></div>
                <div class="dash cuatro"></div>
            </div>
        </mat-card>

    </div>



    <div class="col-lg-6 col-md-6  col-sm-12 box-box">
        <mat-card class="example-card box-box ">

            <mat-card-content>
                <mat-card-subtitle>Toolbar</mat-card-subtitle>
                <mat-card-actions>
                    <div class="example-button-row">
                        <button mat-icon-button (click)="zoom('positive')" data-option="0.1">
                            <mat-icon>zoom_in</mat-icon>
                        </button>
                        <button mat-icon-button (click)="zoom('negative')" data-option="-0.1">
                            <mat-icon>zoom_out</mat-icon>
                        </button>
                    </div>

                    <div class="example-button-row">

                        <button mat-icon-button (click)="move(-10, 0)" data-method="move" data-option="-10"
                            data-second-option="0">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>

                        <button mat-icon-button (click)="move(10, 0)" data-method="move" data-option="10"
                            data-second-option="0">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>

                        <button mat-icon-button (click)="move(0, -10)" data-method="move" data-option="0"
                            data-second-option="-10">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>

                        <button mat-icon-button (click)="move(0, 10)" data-method="move" data-option="0"
                            data-second-option="10">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>


                    </div>

                    <div class="example-button-row">
                        <button mat-icon-button (click)="rotate('left')" data-option="-45">
                            <mat-icon>rotate_left</mat-icon>
                        </button>
                        <button mat-icon-button (click)="rotate('right')" data-option="45">
                            <mat-icon>rotate_right</mat-icon>
                        </button>
                    </div>

                    <div class="example-button-row">
                        <button mat-icon-button (click)="scale('x')" data-method="scaleX">
                            <mat-icon>swap_horiz</mat-icon>
                        </button>
                        <button mat-icon-button (click)="scale('y')" data-method="scaleY">
                            <mat-icon>swap_vert</mat-icon>
                        </button>
                        <button mat-icon-button (click)="clear()" data-method="clear">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-icon-button (click)="save()" data-method="save">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>


                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="example-card box-box ">

            <mat-card-content>
                <img *ngIf="cropperRes || imageUrl" mat-card-image [src]="cropperRes || imageUrl">
            </mat-card-content>
        </mat-card>

    </div>



</div>