<mat-card class="box-box">
    <mat-card-header>
        <mat-card-title>{{element.type}}</mat-card-title>
        <mat-card-subtitle>{{element.name}}</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content>
        <mat-form-field>
            <input required [(ngModel)]="element.name" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
            <input required [(ngModel)]="element.placeholder" matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="element.value" matInput placeholder="Value">
        </mat-form-field>


        <div class="row" *ngIf="element.type === 'select' ">
            <div class="col-6">
                <mat-form-field>
                    <textarea (keyup)="values($event)" style="min-height: 100px;" placeholder="value=text"
                        [value]="mapValue()" matInput> </textarea>
                </mat-form-field>
            </div>
            <div class="col-6">

                <mat-progress-bar *ngIf="showOtptions === false" mode="indeterminate"></mat-progress-bar>


                <mat-form-field *ngIf="element.options.length > 0 && showOtptions">
                    <mat-label>{{ element.placeholder }}</mat-label>
                    <mat-select [value]="element.options[0].key">
                        <mat-option *ngFor="let recipient of element.options " [value]="recipient.key">
                            {{recipient.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>










        <mat-checkbox [(ngModel)]="element.required">Required</mat-checkbox>
        <br>
        <mat-checkbox *ngIf="element.type !=  'date' ||  element.type !=  'select'  " [(ngModel)]="element.disabled">
            Disabled</mat-checkbox>




    </mat-card-content>



    <mat-card-actions>

        <button mat-icon-button color="primary" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>


        <button mat-icon-button (click)="delete()" color="primary">
            <mat-icon>delete</mat-icon>
        </button>

    </mat-card-actions>
</mat-card>