

<div class="row">
    <div class="col-lg-8 col-md-5  col-sm-12">
        <webcam  [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>
    
    </div>
    <div class="col-lg-4 col-md-5  col-sm-12">
        <button mat-raised-button (click)="triggerSnapshot();" >  <mat-icon>camera_enhance</mat-icon></button>
        <button mat-raised-button (click)="toggleWebcam();" ><mat-icon>autorenew</mat-icon></button>
    
  
    </div>
</div>
