<mat-card class="box">

    <h6>Basic mat-select</h6>
    <mat-form-field class="form-order">
        <mat-label>Select Form type </mat-label>
        <mat-select required [(ngModel)]="currentForm">

            <mat-option *ngFor="let form of forms" [value]="form.name">
                {{form.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


</mat-card>










<mat-card class="box" *ngIf="dynamicForm">
    <h6>{{ selectedForm.name }}</h6>
    <form [formGroup]="dynamicForm" (ngSubmit)="submit()">


        <div *ngFor="let item of  serializedForm  ;let i = index ">

            <mat-form-field *ngIf="item.type === 'input' ">
                <input [disabled]="item.disabled" [placeholder]="item.placeholder" [formControlName]="item.name"
                    [value]="item.value" [required]="item.required" matInput>
                <mat-error>Required</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="item.type  === 'textarea' ">
                <textarea [disabled]="item.disabled" [placeholder]="item.placeholder" [value]="item.value"
                    [formControlName]="item.name" [required]="item.required" matInput></textarea>
                <mat-error>Required</mat-error>
            </mat-form-field>


            <mat-form-field *ngIf="item.type === 'inputNumber' ">

                <input type="number" [formControlName]="item.name" step="0.01" [disabled]="item.disabled"
                    [placeholder]="item.placeholder" [name]="item.name" [value]="item.value" [required]="item.required"
                    matInput>
                <mat-error>Required</mat-error>
            </mat-form-field>


            <mat-form-field *ngIf="item.type === 'date' ">
                <input [formControlName]="item.name" matInput readonly (click)="picker.open()" [matDatepicker]="picker"
                    placeholder="Deadline">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Required</mat-error>
            </mat-form-field>


            <mat-form-field *ngIf="item.type === 'select' ">
                <mat-label>{{ item.placeholder }}</mat-label>
                <mat-select required [formControlName]="item.name">
                    <mat-option *ngFor="let recipient of item.options " [value]="recipient.key">
                        {{recipient.text}}
                    </mat-option>
                </mat-select>
                <mat-error>Required</mat-error>
            </mat-form-field>


        </div>


        <div>
            <button type="submit" mat-raised-button color="accent">Accent</button>
        </div>
    </form>
</mat-card>









<mat-card>

    <div class="row">
        <div class="col-lg-4 col-md-6  col-sm-12 denis" *ngFor="let file of files">
            <mat-card class="box-box">
                <img mat-card-image src="{{ file.src}}" [alt]="file.id">

            </mat-card>
        </div>
    </div>

</mat-card>